<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  
      <link rel="stylesheet" href="../static/css/styleLogin.css">

  
</head>

<body>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
    <input name='email' placeholder='E-Mail Address' type='text' ng-model='email' required ='true'>
  <input id='pw' name='password' placeholder='Password' type='password' ng-model='password' required = 'true'>
  <input class='animated' type='submit' value='Login'  ng-click='login()'> 
</div>
  
    <script src="js/index.js"></script>

</body>
</html>
