<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Register As</h2>
  <form action ="signupTeacher.html" method ="get">
  <input class='animated' type='submit' value='Teacher'>
      </form>
    <form action="signupASStudent.html" method="get">
  <input class='animated' type='submit' value='Student'>
         </form>
</div>
  
   

</body>
</html>
