<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  <script src = "angular.min.js"></script>
  	
  	<script src = "../static/js/Completegame.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body ng-app="Completegame_app" ng-controller="CompletegameController">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Complete Game</h2>
  
   <input name='gamename' placeholder='gamename' type='text' ng-model='gamename' required ='true'>
  <h2>Questions</h2>
  <input name='question1' placeholder='question1' type='text' ng-model='question1' required ='true'>
  <input  name='question2' placeholder='question2' type='text' ng-model='question2' required = 'true'>
  <input name='question3' placeholder='question3' type='text' ng-model ='question3' required='true'>
  <h2>Model answer</h2>
  <input name='answer1' placeholder='answer1' type='text' ng-model='answer1' required ='true'>
  <input  name='answer2' placeholder='answer2' type='text' ng-model='answer2' required = 'true'>
  <input name='answer3' placeholder='answer3' type='text' ng-model ='answer3' required='true'>
  <input class='animated' type='submit' value='Done' ng-click='create()'>
 
</div>
  
   

</body>
</html>
