<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  <script src = "angular.min.js"></script>
  	
  	<script src = "../static/js/EditComplelteGame.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">

</head>

<body ng-app="EditComplete_app" ng-controller="EditCompleteController">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
<input name='new' placeholder='new' type='text' ng-model='new' required ='true'>
 <input class='animated' type='submit' value='Register' ng-click='Done()'>
</div>

</body>
</html>
