<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  	
      <link rel="stylesheet" href="../static/css/style.css">

</head>

<body ng-app="EditCompletegame_app" ng-controller="EditCompletegameController">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Complete Game</h2>
  <h2>Editcolumn1</h2>
 <form action ="Editcomplete.html" method ="get">
  <input class='animated' type='submit' value='EditQuestion1'>
      </form> 
      <form action ="Editcomplete.html" method ="get">
    <input class='animated' type='submit' value='EditQuestion2'>
      </form> 
      <form action ="Editcomplete.html" method ="get">
  <input class='animated' type='submit' value='EditQuestion3'>
      </form> 
      <h2>Edit ModelAnswer</h2>
        
      <form action ="Editcomplete.html" method ="get">
    <input class='animated' type='submit' value='EditModelAnswer1'>
      </form> 
      <form action ="Editcomplete.html" method ="get">
      <input class='animated' type='submit' value='EditModelAnswer2'>
      </form> 
       <form action ="Editcomplete.html" method ="get">
      <input class='animated' type='submit' value='EditModelAnswer3'>
      </form> 
     
      
</div>

</body>
</html>
