<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  <script src = "angular.min.js"></script>
  	
  	<script src = "../static/js/Notification.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body ng-app="Notification_app" ng-controller="NotificationController">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Notification</h2>
 <div  ng-repeat="notif in arr">
     <ul>
      <li ng-repeat="i in notif">{{i}}</li>
    </ul>
   
    </div>
 
</div>
  
   

</body>
</html>
