<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  <script src = "angular.min.js"></script>
  <script src = "../static/js/finalpage.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body ng-app="finalp_app" ng-controller="finalpController" >
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2 id="congrat">Congratulation</h2>
  <p id="score">your Score is {{score}}</p>
 
 
</div>
  
    

</body>
</html>
