<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple Dark Form</title>
  
  
  <script src = "angular.min.js"></script>
  	
  	<script src = "../static/js/SignupT.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body ng-app="Signup_app" ng-controller="UserController">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Welcome Teacher </h2>
  <input name='username' placeholder='Username' type='text' ng-model='username' required ='true'>
  <input id='pw' name='password' placeholder='Password' type='password' ng-model='password' required = 'true'>
  <input name='country' placeholder='country' type='text' ng-model ='country' required='true'>
   <input name='college' placeholder='college' type='text' ng-model='college' required= 'true' >
    <input name='email' placeholder='E-Mail Address' type='text' ng-model='email' required ='true'>
    <input name='age' placeholder='age' type='text' ng-model='age' required='true'>
  <input class='animated' type='submit' value='Register' ng-click='signup()'>
 
</div>
  
   

</body>
</html>
